<h3>{{listName()}}</h3>
<ul>
    @for (item of characters(); track item.id; let idx = $index) {
        @if (item.power > 500) {
            <li>
                <span>{{idx + 1}} - {{ item.name }}</span>
                <strong 
                    [class.text-danger]="item.power > 9000"
                    [class.text-primary]="item.power < 9000"
                >
                <!--[ngClass]="powerClass()"-->
                ({{ item.power }})
                </strong>
            </li>
        }
    }
</ul>
